<h4>Calendar</h4>

        <div>
          <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=America%2FNew_York&mode=WEEK&showCalendars=0&showPrint=0&src=Y18xMjBkM2ZkN2QwODk0NjVjOWJkZmI5N2ZjZTYxOTk3ODExMTcxNzk5NzNiZjg5MDg3OWI3NmQwYjY2YzJkOTZlQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23E4C441" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>

        <br />
        
        <h5>Julia's Office Hours</h5>

        <p>See calendar above, but generally Friday 1-3pm in Arnold Lab 309, 91 Waterman St. Please sign up for an appointment slot <a href="https://calendar.google.com/calendar/u/0/selfsched?sstoken=UUdBbWFBc3BMQjBafGRlZmF1bHR8ZTI1ZjBlNDY4OGNjYTljOWFlYTQyNTFhZDY2YTYzYmQ">here.</a> You can also drop in during those times if you have a quick question, but you may have to wait.</p>

        