<h2>Labs!</h2>

<p> Labs will be released here on the dates indicated on the course schedule. </p>
<br>
<p>
    <a href="https://docs.google.com/document/d/11SGDL6rr-SqPjeenXyW61pOMHLcK1_kyImHGc8rLKFY/edit?usp=sharing">Lab 1: Content Moderation on Mastodon</a> due 2/17 at 11:59 PM
</p>


