 <h4>Staff</h4>

      <!--  <p>CS 300 is brought to you by these humans!</p> -->

        <div class="row">
          <div class="col-6">
            <div class="image-cropper"><img class="profile-pic" src="images/julian.jpg" /></div>
          </div>
          <div class="col-6">
            <p><b><a href="/people/malte">Julia Netter</a> (<code>malte@cs</code>), Instructor</b></p>
            <p>Hi, I'm Julia</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-6">
            <div class="image-cropper"><img class="profile-pic" src="images/juliam.jpg" /></div> (she/her/hers)</p>
          </div>
          <div class="col-6">
            <p><b>Julia McCauley (<code>julia_mccauley@brown.edu</code>), HTA</b> ([pronouns])</p>
            <p>Hi, [my name is and role description]. [Some fun facts.] </p>
          </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-6">
              <div class="image-cropper"><img class="profile-pic" src="images/swetabh.jpg" /></div>
            </div>
            <div class="col-6">
              <p><b>Swetabh Changkakoti (<code>swetabh_changkakoti@brown.edu</code>), UTA</b> ([pronouns])</p>
              <p>Hi, [my name is and role description]. [Some fun facts.] </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-6">
              <div class="image-cropper"><img class="profile-pic" src="images/krishi.jpg" /></div>
            </div>
            <div class="col-6">
              <p><b>Krishi Saripalli (<code>krishi_saripalli@brown.edu</code>), UTA</b> ([pronouns])</p>
              <p>Hi, [my name is and role description]. [Some fun facts.] </p>
            </div>
          </div>
