 <h4>Staff</h4>

      <!--  <p>CS 300 is brought to you by these humans!</p> -->

        <div class="row">
          <div class="col-6">
            <div class="image-cropper"><img class="profile-pic" src="images/julian.jpg" style="height:150px;"/></div>
          </div>
          <div class="col-6">
            <p><b>Julia Netter (<code>jnetter@cs.</code>), Instructor</b> (she/her)</p>
            <p>Hi, I'm Julia and I'm very excited to explore the world of responsible CS together with all of you! I love plants and tinkering with old things of all kinds. Outside the classroom in Spring you can find me pottering around in the garden -- far too early to do any good! </p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-6">
            <div class="image-cropper"><img class="profile-pic" src="images/juliam.jpg" /></div> </p>
          </div>
          <div class="col-6">
            <p><b>Julia McCauley (<code>[cs-email]</code>), HTA</b> ([pronouns])</p>
            <p>Hi, [my name is and role description]. [Some fun facts.] </p>
          </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-6">
              <div class="image-cropper"><img class="profile-pic" src="images/swetabh.jpg" /></div>
            </div>
            <div class="col-6">
              <p><b>Swetabh Changkakoti (<code>[cs-email]</code>), UTA</b> (he/him)</p>
              <p>Hello! I'm Swetabh, a junior from Delhi and Assam in India studying CS and IAPA (development). I love pine leaves, Adrianne Lenker, photography, tech for journalism, and SRC, and am so excited to meet all of you this semester! </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-6">
              <div class="image-cropper"><img class="profile-pic" src="images/krishi.jpg" /></div>
            </div>
            <div class="col-6">
              <p><b>Krishi Saripalli (<code>[cs-email]</code>), UTA</b> ([pronouns])</p>
              <p>Hi, [my name is and role description]. [Some fun facts.] </p>
            </div>
          </div>
