 <h4>Staff</h4>

      <!--  <p>CS 300 is brought to you by these humans!</p> -->

        <div class="row justify-content-center">
          <div class="col-6">
            <div class="image-cropper"><img class="profile-pic" src="images/julian.jpg" style="height:150px;"/></div>
          </div>
          <div class="col-6">
            <p><b><a href="http://julianetter.de"> Julia Netter </a>(<code>jnetter@cs.</code>), Instructor</b> </p>
            <p>Hi, I'm Julia and I'm very excited to explore the world of responsible CS together with all of you! I love plants, woodworking, DoctorWho, and tinkering with old things of all kinds. Outside the classroom in Spring you can find me on my bike or pottering around in the garden. </p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-6">
            <div class="image-cropper"><img class="profile-pic" src="images/frank.png" style="height:150px;"/></div> </p>
          </div>
          <div class="col-6">
            <p><b>Frank Carber (<code>fcarber@cs.</code>), HTA</b> </p>
            <p>Hey, I’m Frank! I am a masters student from Colorado studying computer science and am excited to explore the social dimensions of modern technology with you all this semester. I’m interested in philosophy, technology, art, design, and the places they connect. Outside of CS, I love reading, David Lynch movies, and roadtrips :)</p>
          </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-6">
              <div class="image-cropper"><img class="profile-pic" src="images/zyn.png" style="height:150px;"/></div>
            </div>
            <div class="col-6">
              <p><b>Zyn Ang (<code>zang@cs.</code>), UTA</b></p>
              <p>Hi! I’m Zyn, a junior studying computer science and I hail from sunny Singapore 🇸🇬 I’m interested in exploring the connections between technology, politics, and ethics, and I’m also a huge fan of making ice cream (tell me ur dream flavor combis) and being out at sea. I loved this class when I took it last year, and I’m sure you all will too!
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-6">
              <div class="image-cropper"><img class="profile-pic" src="images/rachel.png" style="height:150px;"/></div>
            </div>
            <div class="col-6">
              <p><b>Rachel Kim (<code>rkim72@cs.</code>), UTA</b> </p>
              <p>Hi, I’m Rachel, a senior concentrating in IAPA-Policy and CS. I’m interested in policy related to technology and gender, and I love exploring downtown Providence and doing the NYT word games in my free time. I’m really excited to explore technology ethics with you all!</p>
            </div>
          </div>
          <hr />
            <div class="row">
              <div class="col-6">
                <div class="image-cropper"><img class="profile-pic" src="images/simran.png" style="height:150px;"/></div>
              </div>
            <div class="col-6">
              <p><b>Simran Shankardass (<code>sshanka8@cs.</code>), UTA</b> </p>
              <p>Hi, I'm Simran! I'm a senior from Mumbai, India concentrating in APMA-CS. I'm really interested in tech privacy and user consent, and I'm looking forward to this semester :^) Outside of (responsible) CS, I love drawing my favourite chairs, Hozier, birb hunting, and getting a good grade in airport security, which is both normal to want and possible to achieve.</p>
            </div>
          </div>
          <br>
          <br>
